body {
    background-image: none;
    background-color: #fff;    
}

nav.site {
  background: url("../../images/aragon/aragon-banner.png") no-repeat scroll 0 0 transparent;
  padding-top: 54px;
  background-color: #fff;
}

header{
	background-color: rgb(118, 161, 184);
	padding-bottom: 0px;
	margin-bottom: 10px;
}

#result{
    margin-top: 5px;
}

nav.topnav section {
    margin-top: 5px;
}

nav section.formats {
	margin-top: 100px;
	margin-right: 15%;
}

nav section.formats a{
    color:#fff;
	font-weight: bold;
}

.panel, nav.topnav section {
    background-color: rgb(118, 161, 184);
}

.panel header, nav.topnav section h1 {
    background-color: #23343E;
}

nav.topnav section a{
    color: #506A7B;
}
    
a:link, a:visited, a:active, a:hover {    
    color: #506A7B;
}

.barritaM {        
	height: 20px;
	background-color: rgb(102, 99, 89);
	text-align: right;
	padding-right: 100px;
}

.enlaceSuperior1, .enlaceSuperior2 {
    color: rgb(255, 255, 255) !important;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
}

/* pie */

footer{
	background-color: #332F21;		
	padding-top: 40px;
	padding-bottom: 40px;
}

.pie{
	width:76%;			
	background-color: #332F21;	
	margin-left:12%;
	margin-right:12%;
	
}

.pieSuperior, .pieInferior{
	border: 1px solid rgb(153, 151, 144);	
	padding-left: 10px;
	text-align:left;
	overflow: auto;
	width: 100%;	
}

.pieMedio{		
	width: 100%;	
	overflow: auto;	
	text-align:left;
	padding-left: 10px;
	border-right: 1px solid rgb(153, 151, 144);		
	border-left: 1px solid rgb(153, 151, 144);	
}

#imagenFlecha{
   height: 100%;
   vertical-align: middle;
   
}

#imagenHome{
   height: 100%;
   vertical-align: middle;   
}

#enlaceHome {    
    text-align: left;
    font-size: 12px;
    color: #96938E; 
    letter-spacing: 1px;
    font-weight: bold;	
	height: 100%;
    vertical-align: middle;   
}

.imagenPieSuperior{
	vertical-align:top;
	margin-top:8px;
}





.pieP{
	text-align:left;
	font-size: 10px;
    color: #96938E;
    margin: 0 0 0 0;
	padding: 0 0 0 0;
}



.pieAddress{
	text-align:left;
	font-size: 10px;
    color: #96938E;
	margin: 0 0 0 0;
}



.pieEnlace{
   color: #96938E !important;
}


.pieMedioInteriorNoBorders{
	width: 24%;
	float:left;	
	overflow: auto;	
	padding: 0 0 0 0;	
}
.pieMedioInteriorBorderLeft{
	width: 25%;
	float:left;
	border-left: 1px solid rgb(153, 151, 144);		
	overflow: auto;
	padding: 0 0 0 0;	
}

.capaPadding{
	padding: 5px 5px 5px 5px;	
	text-align: center;
}




.pieInferiorIzq{
	float:left;	
	width:50%;
	color: #96938E;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.pieInferiorDer{
	float:left;	
	width:47%;
	color: #96938E;
	text-align:right;	
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.pieZonaEnlaces{
	width: 198px;
	height:214px;	
	color: #96938E;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	background-color:#fff;
	margin-top: 5px;
	margin-left: 16px;
	margin-bottom: 9px;
	text-align: left;
}

.pieZonaEnlaces ul li {
  padding-bottom: 1px;
  padding-top: 1px;
  margin-left:4px;
  margin-left: 20px;
  color: #96938E !important;
}



.piePR{
	text-align:right;	
    color: #96938E;	
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}





/* Fin Pie */

header h1 {
  background: none;  
  color: #555555;
  font-family: Gill Sans,Arial,sans-serif;
  font-size: 3em;
  font-weight: 300;
  margin-left: 42px;
  padding: 0.5em 66px 1em;
  margin-left: 10%;
}

#footermainPan {
  background: url("/demo/images/footerbg_medio.gif") repeat-x scroll 0 0 #FFFFFF; 
  padding: 5px 0 0;
}

th, td {
  max-width: 240px;
}

th.label {
  width: 20% !important;
}

#openSearch, .open, .view, .search, .filter, .provenance, .graphs, #enlaceBorrarOrdenacion{
	display:none;
}

#formato_text{
	display:none;
}

#ui-datepicker-div{
	display:none;
}
